#myVideoContainer {
  height:480px;
  width:100%;
  position:relative;
  background-image: url('../images/player_background.jpg');
}
#myVideoContainer.noBg {
  background-image:none;
  background-color: transparent;
}

#myVideoContainer #ajaxLoader {
  width: 150px;
  height: 150px;
  left: 275px;
  top: 130px;
  position: absolute;
}
#myVideoControlDiv {
  top:430px;
  right:0;
  left:0;
  height:50px;
  width:100%;
  position:absolute;
  border-top:1px solid #444444;
  /*background-color: #000000;*/
}
#myVideoName {
  color: #cccccc;
  font-size: 16px;
  font-family: verdana;
  font-weight: normal;
  height:23px;
  width:410px;
  position:absolute;
  left:12px;
  bottom:23px;
  display:none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#myVideoStatus {
  color: #cccccc;
  font-size: 14px;
  font-family: verdana;
  font-weight: normal;
  height:23px;
  width:430px;
  position:absolute;
  left:12px;
  bottom:2px;
  display:none;
  overflow: hidden;
  text-overflow: ellipsis;
}
#myVideoControlDiv ul, #videoInfoPanel ul {
  margin:0;
  padding:0;
  list-style-type: none;
  height: 100%;
  width: 100%;
}
#myVideoControlDiv ul li, #videoInfoPanel ul li{
  float: right;
  padding-left: 42px;
  margin-right: 12px;
  background-repeat: no-repeat !important;
  background-position: 0 7px;
  height: 100%;
}
#myVideoControlDiv ul li a, #videoInfoPanel ul li a {
  display: block;
  color: #cccccc;
  font-size: 16px;
  font-family: verdana;
  font-weight: normal;
  padding-top: 16px;
}
#myVideoControlDiv ul li:active {
  background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1));  /*Opera 11.1-12*/
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));  /*Standard*/											
  background-repeat: no-repeat !important;
  background-position: 0 3px;
}

.rebootBtnDiv {
  margin-top: 1px;
  margin-left: 10px;
}

#myVideoList {
  top:66px;
  right:100px;
  bottom:61px;
  left:20px;
  position:absolute;
  font-size: 24px;
  color: #cccccc;
  font-family: verdana;
  overflow: hidden;
}
#myVideoList ul {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  list-style-type: none;
  /*overflow-y: scroll;*/
}

#myVideoList ul li {
  border-bottom: 1px solid #666666;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#myVideoScroll {
  top:40px;
  right:40px;
  position:absolute;
}
#myVideoScroll {
  margin-top:15px;
}
#myVideoScroll img, #myVideoScroll li {
  display:block;
  margin-top:15px;
  width:50px;
  height:50px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100%;
}
#videoPlayControl {
  top:64px;
  right:0px;
  bottom:50px;
  left:0px;
  position:absolute;
  display: none;
}
#videoPlayControl ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
#videoPlayControl ul li{
  float:left;
}
#videoShuffleBtn {
  top: 0;
  right: 30%;
  left: 0;
  width: 25%;
  height: 20%;
  margin: auto;
}
#videoReAllBtn {
  top: 0;
  right: 0;
  left: 30%;
  width: 25%;
  height: 20%;
  margin: auto;
}

#videoStopBtn {
  top: 80%;
  right: 0;
  left: 0;
  width: 50%;
  height: 20%;
  margin: auto;
}

#videoPlayBtn {
  top: 60px;
  bottom: 60px;
  left: 60px;
  right: 60px;
  height: 50%;
  width: 50%;
  margin: auto;
}
#videoNextBtn {
  top: 0;
  left: 80%;
  width: 20%;
  height: 220px;
}
#videoPlayFFBtn {
  top: 52%;
  left: 80%;
  width: 20%;
  height: 47%;
}

#videoPlayRWBtn {
  top: 52%;
  left: 0;
  width: 20%;
  height: 47%;
}

#videoPrevBtn {
  top: 0;
  left: 0;
  width: 20%;
  height: 45%;
}

.videoTouchControls {
  z-index: 20200;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: none;
}

.selectedItemRed {
  background: -webkit-linear-gradient(to left,rgba(255,0,0,0),rgba(255,0,0,1));
}

.selectedItemBlue {
  background: -webkit-linear-gradient(to left,rgba(0,0,255,0),rgba(0,0,255,1));
}

.selectedItemGreen {
  background: -webkit-linear-gradient(to left,rgba(0,255,0,0),rgba(0,255,0,1));
}

.selectedItemOrange {
  background: -webkit-linear-gradient(to left,rgba(255,165,0,0),rgba(255,165,0,1));
}

#myVideoContainer .unicodeMessage {
  position: absolute;
  font-size: 20px;
  color: #fff;
  background: #000;
  border: 6px double #6fffdf;
  padding: 15px 0;
  width: 65%;
  top: 45%;
  left: 15%;
  text-align:center;
  z-index: 20500;
}
#myVideoContainer #memErrorMessage {
  position: absolute;
  font-size: 20px;
  color: #fff;
  background: #000;
  outline: 4px solid #ff0000;
  padding: 15px 0;
  width: 85%;
  top: 20%;
  left: 5%;
  text-align:center;
  z-index: 20600;
}
#memErrorMessage ul {
  list-style: none;
}
#memErrorMessage .rebootBtnDiv {
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  padding-left: 42px;
  margin-left: 46.5%;
}
.playbackOption.selectedItem {
  text-shadow: 0 0 5px #fff;
  background: rgba(0, 117, 48, 0.45);
}
#videoInfoPanel {
  display:none;
  position: absolute;
  top: 90px;
  left: 0px;
  right: 0px;
  width: 600px;
  height: 300px;
  padding: 0;
  color: #fff;
  margin: auto;
  background-image: url(../images/Info_BG.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20400;
}
#videoInfoPanel.showInfo {
  display: block;
}
aside#widget-content {
  display: block;
  margin: 10px 40px;
  font-size: 13pt;
  height: 235px;
  overflow-x: hidden;
  overflow-y: auto;
}
#myVideoInfo, #myUnicodeToggle {
  height: 50px;
  width: 50px;
}
#infoTitle, #optionTitle {
  font-size: 25px;
  font-weight: 700;
  padding-top: 5px;
  width: 100%;
  text-align: center;
}
#myVideoInfoClose {
  position: absolute;
  top: 5px;
  right: 45px;
  font-size: 30px;
  color:#fff;
}
#videoInfoPanel #popOptionsTab,
#videoInfoPanel.state #popInfoTab{
  background:#000;
}
#videoInfoPanel #popInfoTab,
#videoInfoPanel.state #popOptionsTab{
  background:#0000ee;
}
#videoInfoPanel.state #widgetContent,
#videoInfoPanel #widgetContentState {
  display:none;
}
#videoInfoPanel #widgetContent,
#videoInfoPanel.state #widgetContentState {
  display:block;
}
#videoInfoPanel ul li {
  float: none;
  line-height: 22px;
  background-position: 0;
}
#widgetContentState ul li {
  line-height: 28px;
  padding-left: 15px;
}
#videoInfoPanel ul li a {
  font-size:22px;
}
.infoBtn {
  border: 4px solid #00ff00;
  padding: 2px 100px;
  left: 40px;
  top: 8px;
  background: #000;
  position: relative;
  font-size: 20px;
}
#myVideoScroll #myUnicodeToggle {
  visibility: visible;
  margin-top:35px;
}
.btn {
  height: 50px;
  text-shadow: none;
  font-weight: bold;
  font-size: 20px;
  border:none;
  outline:0;
  padding: 6px 20px;
  margin: 3px;
  vertical-align:middle;
  overflow:hidden;
  color:#000;
  background-color:#fff;
  white-space:nowrap;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#optionTestError{
  float: right;
}
li {
  list-style: none;
  background-repeat:no-repeat;
}
